@model Asteria.Models.ApplicationUser


@{
    ViewBag.Title = "Friends of " + @Model.Nickname;
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

@if (TempData.ContainsKey("message"))
{
    <h2 class=@TempData["messageType"]>@TempData["message"]</h2>
}

<h2 class="text-white"> Friend List </h2>

<div class="card mt-3 bg-black flex-column" style="height:100%; width: 100%;">
    @if (ViewBag.Fr!=null)
    {
        @foreach (var friend in ViewBag.Fr)
        {
            <div class="card-body d-flex justify-content-between flex-column text-white bg-black">
                <div>
                    <p style="20px"><i class="bi bi-person"> </i> Nickname: @friend.Friendship.Nickname</p>
                    <p class="text-white"> Profile Picture:</p>
                    @if (friend.Friendship.ProfilePic != null)
                    {
                        <img style="width:65px;height:65px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(@friend.Friendship.ProfilePic))">
                    }
                    <a class="btn btn-sm btn-success" href="/Users/Show/@friend.FriendshipId"> View user</a>

                    @if (User.IsInRole("Admin") || ViewBag.UserCurent == Model.Id)
                    {
                        <form method="post" asp-controller="Users" asp-action="RemoveFromFriends">
                            <input type="hidden" name="FriendshipId" value=@friend.FriendshipId>
                            <input type="hidden" name="UserId" value=@ViewBag.UserCurent>
                            <button type="submit" class="btn btn-danger">Remove Friend?</button>
                        </form>
                    }

                </div>            

            </div>
        }
        <a class="btn btn-success" href="/Users/Show/@Model.Id">Back to Profile</a>
    }
    else
    {
        <div class="card-body d-flex justify-content-between bg-black">
            @if (ViewBag.UserCurent == Model.Id)
            {
                <p class="text-white">No friends in friends list!</p>
                <a class="btn btn-success" herf="/Users/Show/@Model.Id">Back to Profile</a>
            }
            else
            {
                <p class="text-white">This user has no friends added</p>
                <a class="btn btn-success" href="/Users/Show/@Model.Id">Back to Profile</a>
            }
            
        </div>
    }
    

</div>


