@{
    ViewData["Title"] = "Home";
}
	<section id="memories">
		<div class="hoverable">
			<h3> Be it breathtaking or weird, its place is here!</h3>
			<p class="desctext"> From an accurate representation of a sunset to a simple stickman, we decide what to show the world!</p>
		</div>
		<div class="visions">
			<h3> Motivation from the stars! </h3>
			<div class="vispic">
				<picture>
				<img class="img1" src="~/css/someimages/Typography_02.jpg" alt="picture1">
				</picture>
				<picture>
				<img class="img2" src="~/css/someimages/Typography_02.jpg" alt="picture1">
				</picture>
				<picture>
				<img class="img3" src="~/css/someimages/Typography_04.jpg" alt="picture1">
				</picture>
				<picture>
				<img class="img4" src="~/css/someimages/wallpaperflare.com_wallpaper.jpg" alt="picture1">
				</picture>
				<picture>
				<img class="img5" src="~/css/someimages/wallpaperflare.com_wallpaper_(1).jpg" alt="picture1">
				</picture>
				<p class="desctext"> Powerful or Abstract, Classy or Revolutionary, Complicated or Simple, each of us has their own style!</p>
			</div>
		</div>
	</section>
	<section class="rdy">
		<h3> To you, my artist friends, I give you my heart! </h3>
		<div class="heartcontainer">
			<div class="heart">
				<a class="hiddenlink" href="./hidden.html">hidden</a>
			</div>
		</div>
		<a href="./hidden.html" class="bttn1"> Go back up! </a>
	</section>
