@{
	ViewData["Title"] = "About the website";
}


		<section id="what">
			<div class="hoverable">
				<h3> Oh, silly! This question can easily be answered!</h3>
					<p class="whattext"><b> Well, here I want to showcase YOUR drawings. Whether you think they are good or bad, I believe they are wonderful.
					Even those that you deem imperfect. But now, you may ask, why. Why is it that you want to show even my imperfect drawings.</b></p>
			</div>
		</section>
		<section id="hereswhy">
			<h3> Here's why! </h3>
				<div class="visions">
					<div class="reasons">
						<div class="boxmessage">
							<h4> It's about the meaning, not the drawing </h4>
							<img class="tarot_1" src="./tarot-card-the-chariot.png" alt="The Chariot Tarot Card">
							<p class="whattext"> The love you put in that drawing, the passion of the hobby, the secret message that is conveyed by the art you draw, whether it be for everyone else to see, or your eyes only</p>
						</div>
						<div class="boxmessage">
							<h4> It shows a piece of you! </h4>
							<img class="tarot_2" src="./tarot-card-the-high-priestess.png" alt="The High-Priestess Tarot Card">
							<p class="whattext"> The characters you draw, the backgrounds you think of, the subtle or bold effects displayed in the drawing, they all represent a part of your personality, bigger than you might think!</p>
						</div>
						<div class="boxmessage">
							<h4> Its effects on others </h4>
							<img class="tarot_3" src="./tarot-card-the-magician.png" alt="The Magician Tarot Card">
							<p class="whattext"> Believe it or not, one simple drawing for someone can make someone's day!</p>
						</div>
					</div>
				</div>
		</section>
		<section id="final_word">
			<h3> And let's not forget...</h3>
			<h3> Wait, uhh...where is my message? </h3>
			<p class="whattext">  Well, this is awkward...it's gotta be here somewhere...</p>
			<p class="whattext"> Can you help me find it? Maybe if you hover your mouse above the right spot you can find it</p>
			<p class="whattext"> Even if you don't believe it, your art is wonderful!</p> <!--de editat dupa ce e predat-->
			<p class="whattext"> Also...if you press c anywhere, you will unleash chaos mode, soooo be careful! </p>
		</section>