
@{
	ViewData["Title"] = "Resources";
}

<section id="credits">
	<h3> Credits! </h3>
	<p class="whattext">Background Image by: Lovepik</p>
	<p class="whattext">Audio: oneheart-watching the stars </p>
	<p class="tiny"> side-note: If you haven't heard any music...it means you didn't search hard enough!</p>
	<p class="whattext">Claudia Elena Chirita-my course teacher</p>
	<p class="whattext"> -my lab teacher, for guiding us through exercises ,showing us "ceva smecher" and being a fun teacher </p>
	<p class="whattext"> And, of course...</p>
	<p class="special"> <a href="./hidden.html">friends</a> who always make me smile and feel loved and at home</p>
</section>